.employee-form-container {
    margin: auto;
    padding: 20px;
    width: 90%;
    background-color: #f9fafb;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  

.employee-form-container  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .employee-form-container .form-section {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .employee-form-container  .form-row {
    display: flex;
    flex: 1 1 100%;
    gap: 15px;
  }
  
  .employee-form-container  .form-row > div {
    flex: 1;
    min-width: 150px;
  }
  
  .employee-form-container  label {
    display: block;
    color: #666;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .employee-form-container  input[type="text"],
  .employee-form-container input[type="email"],
  .employee-form-container input[type="tel"],
  .employee-form-container input[type="date"],
  .employee-form-container input[type="number"],
  .employee-form-container select {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .employee-form-container input[type="text"]:focus,
  .employee-form-container input[type="email"]:focus,
  .employee-form-container input[type="tel"]:focus,
  .employee-form-container input[type="date"]:focus,
  .employee-form-container input[type="number"]:focus,
  .employee-form-container select:focus {
    border-color: #007bff;
  }
  
  .employee-form-container button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .employee-form-container button[type="submit"]:hover {
    background-color: #0056b3;
  }
  

  .ne_popup_main{
    position: fixed;
    top: 0;
    left: 0;
    width:100% ;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.267);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ne_popup_main>div{
    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.6rem;
    position: relative;

  }
  .ne_popup_main>div>h2{
    margin-bottom: 20px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    color: green;

}
.ne_popup_main .button_div{
    position: absolute;
    bottom: 2rem;
  
}
.ne_popup_main .button_div>button{
    padding: 7px 25px;
    background-color: gray;
    border: none;
    border-radius: 25px;
    color: white;
    letter-spacing: 0.5px;
    cursor: pointer;
}