@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #efefef inset; /* Light blue background */
  -webkit-text-fill-color: #333; /* Set text color */
}

input:-webkit-autofill:focus {
}
/* Target the scrollbar's width for the entire page */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height for horizontal scrollbar */
}

/* The scrollbar "track" */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray background */
  border-radius: 10px; /* Rounded corners for track */
}

/* The scrollbar "thumb" */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Gray color for scrollbar */
  border-radius: 10px; /* Rounded corners for thumb */
  border: 3px solid #f1f1f1; /* Space around thumb */
}

/* On hover, change the color of the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker gray */
}