.das_con_sidebar_main{
    padding: 0 20px;
    padding-top: 10vh;
   
}
.das_con_sidebar_main>div{
    margin-top: 25px;
    padding: 12px 5px;
}
.das_con_sidebar_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 2px;
    font-size: 0.9rem;
}
.das_con_sidebar_1 p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.das_con_sidebar_1.true{
    background-color: rgba(81, 79, 184, 0.351);

}
.tdash_link{
    color: rgb(92, 90, 90);
    
}
.tdash_link:visited,.tdash_link:active{
    color: rgb(92, 90, 90);

}


.das_con_sidebar_title{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16vw;
    font-size: 0.8rem;
    letter-spacing: 1.3px;
}