.das_con_sidebar_main{
    padding: 0 0;
    padding-top: 10vh;
   
}
.das_con_sidebar_main>div{
    margin-top: 25px;
    padding: 12px 20px;
}
.das_con_sidebar_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 2px;
    font-size: 0.9rem;
}
.das_con_sidebar_1 p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.das_con_sidebar_1.true{
    background-color: rgb(5, 30, 35);
    color: rgb(255, 255, 255);
    font-weight: 400;
    letter-spacing: 0.5px;
   
   

}
.tdash_link{
    color: rgb(0, 0, 0);
    
}
.das_con_sidebar_1.true .tdash_link{
    background-color: rgb(5, 30, 35);
    color: rgb(255, 255, 255);
    font-weight: 400;
    letter-spacing: 0.5px;
   

}

.tdash_link:visited,.tdash_link:active{
    color: rgb(0, 0, 0);

}


.das_con_sidebar_title{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16vw;
    font-size: 0.8rem;
    letter-spacing: 1.3px;
}